body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
}

/*SEARCH COMPONENT*/

.logo {
	margin: 0.5rem;
	padding: 0;
	font-size: 1rem;
	line-height: 0.8rem
}

.form-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.input-flex {
	display: flex;
	flex-direction: column;
}
.search-input {
	font-size: 0.8rem;
}

.search-input:first-child {
	margin-bottom: 0.5rem;
}

.submit-btn {
	margin-left: 0.8rem;
	font-size: 0.7rem;
}

.validation-error {
	margin-left: 2rem;
	font-size: 0.75rem;
}

.restaurants {
	margin-top: 1.7rem;
	margin-bottom: 1rem;
}

.restaurants-list {
	margin: 0;
	padding: 0;
}

.restaurants-list-header {
	display: flex;
	justify-content: center;
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
	font-size: 1rem;

}


/*RESTAURANT CARD COMPONENT*/

.restaurant-card {
	display: flex;
	flex-direction: column;
	width: 95%;
	border: 1px solid grey;
	margin-bottom: 1rem;
}

.card-header {
	display: flex;
	padding: 0.4rem;
}

.card-info {
	padding-left: 0.6rem;
}

.restaurant-name {
	margin: 0.4rem 0.2rem 0rem 0rem;
	padding: 0;
	font-size: 1rem;
}

.restaurant-rating {
	font-size: 0.8rem;
}

.rating-number {
	font-size: 1rem;
}

.restaurant-image{
	width:100px;
	height:100px;
	object-fit: cover;
}

/* RESTAURANT DETAILS */

.restaurant-details-image {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.restaurant-details-name {
	font-size: 1.2rem;
}

.restaurant-details-reviews {
	margin-bottom: 0.3rem;
}

.review-block {
	width: 95%;
	border: 1px solid grey;
	margin-bottom: 0.5rem;
}

.review-header {
	display: flex;
	justify-content: space-around;
}

.review-text {
	text-indent: 1rem;
	font-style: italic;
}


.error {
	display: block;
}

.hidden {
	display: none;
}

/*SPINNER STYLES*/

.spinner {
	display: block;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
  width:100%;
  height:100%;
}
.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #3be8b0;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/*SPINNER STYLES END*/